footer {
  padding: 2rem 7rem;
  background-color: #333333;
  display: flex;
  justify-content: space-between;
}

.footer_logo_icon {
  width: 6rem;
}

.footer_menu_links_div {
  display: flex;
  gap: 16rem;
}

.link_1 > ul{
    display: block !important;
    margin: 1rem 0;
}

.link_2 > ul{
    display: block !important;
    margin: 1rem 0;
}

.link_3 > ul{
    display: block !important;
    margin: 1rem 0;
}


ul > li {
    list-style: none;
    margin-bottom: 1rem 0;
}

ul > li > a {
    text-decoration: none;
    color: white;
}

.links_title{
    color: #F4CE14;
}