.comfirm_general_container {
  display: block;
  margin-bottom: 2rem;
  width: 25rem;
  height: 100%;
  margin: 0 auto;
  margin-top: 6rem;
}

.comfirm_general_container > h2 {
  color: #333333;
  margin-bottom: 2rem;
}

.comfirm_general_container > p {
  color: #333333;
  margin-bottom: 2rem;
  text-align: center;
}

.btns_div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  margin-bottom: 4rem;
}

.close_btn {
  background-color: #495e57;
  color: black;
}

.success_icon_div {
  display: flex;
  justify-content: center;
}

.success_icon {
  width: 4rem;
  margin-bottom: 2rem;
}
