nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:#EDEFEE;
  padding: 1rem 7rem;
}

.active {
  color: #f4ce14;
}

nav > div > img {
  width: 12rem;
}

nav > ul > li > a {
  text-decoration: none;
  font-size: 1.3rem;
  color: #333333;

  transition: all 0.6s ease-in-out;
}

nav > ul > li > a:hover {
  color: #f4ce14;
  font-weight: 400;
}

nav > ul > li {
  list-style: none;
}

nav > ul {
  gap: 2.5rem;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
