.main_general_div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.general_container {
  margin-top: 4rem;
}
.image_text_price_div {
  width: 20rem;
  height: 100%;
  background-color: #EDEFEE;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}

.image_text_price_div > .menu_img {
  width: 20rem;
  height: 14rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}
.title_price_div__ {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  padding: 0 1.2rem;
}

.title_price_div__ > p {
  color: #EE9972;
}
.description_text {
  padding: 0 1.2rem;
  color: #333333;
  letter-spacing: 0;
}

.delivery__text_icon_div {
  margin-top: 4rem;
  padding: 0 1.2rem;
}

.delivery__text_icon_div{
    padding: 0 1.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2rem;
}

.delivery_icon{
    width: 2rem;
}
